/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  .container.topnav
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.topnav{:href => "#"} EasyCredit
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in? && (current_user.admin? || current_user.manager?)
            = link_to "Administrate", admin_credits_path
          - elsif user_signed_in?
            = link_to "My Account", "/pages/profile"
        %li
          = link_to "About", "/pages/about"
        %li
          = link_to "Credits", credits_path
        %li
          = link_to "Contact", "/pages/contact"
        %li
          - if user_signed_in?
            = link_to "Log out", destroy_user_session_path
          -  else
            = link_to "Log in", new_user_session_path

    / /.navbar-collapse
  / /.container
/ Header
%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 EasyCredit
          %h3 Do it.
          %hr.intro-divider/
          %ul.list-inline.intro-social-buttons
            %li
              .btn.btn-default.btn-lg
                %i.fa.fa-thumbs-up.fa-fw
                %span.network-name= link_to "Rates", credits_path
            %li
              .btn.btn-default.btn-lg
                %i.fa.fa-user.fa-fw
                - if user_signed_in?
                  %span.network-name= link_to "Account", "/pages/profile"
                - else
                  %span.network-name= link_to "Account", new_user_session_path
            %li
              .btn.btn-default.btn-lg
                %i.fa.fa-arrows.fa-fw
                %span.network-name= link_to "Contact us", "/pages/contact"
  / /.container
/ /.intro-header
/ Page Content
%a{:name => "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Why do you need it:
          %br>/
          It's so easy.
        %p.lead
          You can take credit and save your family. They will appreciate it. You will feel godlike.
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive{:alt => "", :src => "https://pp.vk.me/c637529/v637529447/29460/_pQHrgnIZfI.jpg"}/
  / /.container
/ /.content-section-a
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Our consultants:
          %br>/
          All in white shirts.
        %p.lead
          You can recognize our personal by white shirt and big smile on the face! :)
      .col-lg-5.col-sm-pull-6.col-sm-6
        %img.img-responsive{:alt => "", :src => "https://pp.vk.me/c637529/v637529447/2946e/sHqPQ1FUVPY.jpg"}/
  / /.container
/ /.content-section-b
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          We appreciate your time.
        %p.lead
          Take credit just in a moment!
          %a{:href => "http://www.time-management-guide.com/", :target => "_blank"} Check out time managment guide.
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive{:alt => "", :src => "http://blog.bestamericanpoetry.com/.a/6a00e54fe4158b883301348760ca33970c-320wi"}/
  / /.container
/ /.content-section-a
%a{:name => "contact"}
.banner
  .container
    .row
      .col-lg-6
        %h2 EasyCredit in social networks:
      .col-lg-6
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/kraevroot/status/813474872529666048"}
              %i.fa.fa-twitter.fa-fw
              %span.network-name Twitter
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/EasyCredit"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://vk.com/public136230508"}
              %i.fa.fa-vk.fa-fw
              %span.network-name VKontakte
  / /.container
/ /.banner
/ Footer
%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "#"} Home
          %li.footer-menu-divider ⋅
          %li
            = link_to "About", "/pages/about"
          %li.footer-menu-divider ⋅
          %li
            = link_to "Credits", credits_path
          %li.footer-menu-divider ⋅
          %li
            = link_to "Contact", "/pages/contact"
        %p.copyright.text-muted.small Copyright © EasyCredit 2016. All Rights Reserved
