#about_us
  %h3 My Account:
  %p= "Name: #{current_user.name}"
  %p= "Email: #{current_user.email}"
  %h3 My requests:
  - current_user.requests.each do |req|
    .col-md-4
      - if req.status.eql? "active"
        .panel.panel-info
          .panel-heading
            .panel-title
              %p= "Credit name: #{req.credit_name}"
          .panel-body
            = "Request status: #{req.status}"
          .panel-footer
            = "#{time_ago_in_words(req.updated_at)} ago"
      
      - elsif req.status.eql? "approved"
        .panel.panel-success
          .panel-heading
            .panel-title
              %p= "Credit name: #{req.credit_name}"
          .panel-body
            = "Request status: #{req.status}"
          .panel-footer
            = "#{time_ago_in_words(req.updated_at)} ago"

      - else req.status.eql? "rejected"
        .panel.panel-danger
          .panel-heading
            .panel-title
              %p= "Credit name: #{req.credit_name}"
          .panel-body
            = "Request status: #{req.status}"
          .panel-footer
            = "#{time_ago_in_words(req.updated_at)} ago"
