%br
%br
%h1 Edit credit
= simple_form_for @credit do |f|
  .form-inputs
    = f.input :name, placeholder: 'Credit name'
    = f.input :description, placeholder: 'Credit description'
    = f.input :credit_rate
    = f.input :month_count
    = f.input :payment_date, as: :date, html5: true
  = f.button :submit, 'Update credit'
