%br
%br
#about_us
  %h1= @credit.name
  %p= @credit.description
  
  %p Month count:
  = @credit.month_count
  
  %p Credit rate
  = @credit.credit_rate

  %br
  - if user_signed_in? && !current_user.admin? && !current_user.manager?
    = link_to "Make request", new_request_path
